<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.healthguide">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".NoteActivity" />
        <activity android:name=".BMI_calculator" />
        <activity android:name=".LegAdvance1" />
        <activity android:name=".LegBasic1" />
        <activity android:name=".BodyAdvance2" />
        <activity android:name=".BodyAdvance1" />
        <activity android:name=".BodyBasic2" />
        <activity android:name=".BodyBasic1" />
        <activity android:name=".ChestAdvance2" />
        <activity android:name=".ChestAdvance1" />
        <activity android:name=".ChestBasic2" />
        <activity android:name=".ChestBasic1" />
        <activity android:name=".ArmAdvanceForearm" />
        <activity android:name=".ArmForeArmBasic" />
        <activity android:name=".ArmBiceptAdvance" />
        <activity android:name=".ArmBicepBasic" />
        <activity android:name=".workoutChest" />
        <activity android:name=".workoutleg" />
        <activity android:name=".workoutArm" />
        <activity android:name=".activityWorkoutFullbody" />
        <activity android:name=".dietBodyForth" />
        <activity android:name=".dietBodyThird" />
        <activity android:name=".dietBodySecond" />
        <activity android:name=".dietBodyFirst" />
        <activity android:name=".diet_Activity" />
        <activity android:name=".workout_Activity" />
        <activity android:name=".splashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>